<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dashboard</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style type="text/css">
		.result{
			margin-top: 10px;
		}
	</style>
</head>
<body>
	<div class="container" style="padding-top: 20px;">	

		 <form style="text-align: center;">
		  <div class="form-group">
		  	 <div class="form-group col-md-4">
			      <label for="classeEni">Classe</label>
			      <select id="classeEni" class="form-control">
			        <option selected>Choose...</option>
			        <option value="L1IG20">L1 IG 2020</option>
			        <option value="L1PRO20">L1 PRO 2020</option>
			        <option value="L1IGGP1">L1 IG Groupe 1</option>
			        <option value="L1IGGP2">L1 IG Groupe 2</option>
			        <option value="L1PROGP1">L1 PRO Groupe 1</option>
			        <option value="L1PROGP2">L1 PRO Groupe 2</option>
			        <option value="L2SR">L2 SR</option>
			        <option value="L2GB">L2 GB</option>
			        <option value="L2IG">L2 IG</option>
			        <option value="M1IG">M1 IG</option>
			      </select>
			    </div>
		    <input onkeyup="verifInputIM(event)"  type="text" class="form-control" id="im" aria-describedby="emailHelp" placeholder="Rechercher matricule ...">
		    <input onkeyup="verifInputNom(event)"  type="text" class="form-control" style="margin-top: 10px;" id="nom" aria-describedby="emailHelp" placeholder="Rechercher nom ...">
		  </div>
		  <button onclick="getEtudiant()" id="rechercher" type="button" class="btn btn-primary">Rechercher</button>
		</form>

		<div  class="list-group result" style="text-align: center;">
			
		</div>
	</div>
   <!--  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- <script src="http://localhost:3000/js/bootstrap-datetimepicker.min.js"></script> -->
<script type="text/javascript">
	// let url_api = "http://localhost:3000/";
	let url_api = "https://ticket-aeeni-2022.herokuapp.com/";

	function getEtudiant() {
		let im = $("#im").val();
		let nom = $("#nom").val();
		let classeEni = $("#classeEni").val();
		// alert(classeEni);
	 if( im == "" && nom == ""){
	 	alert("Veillez entrer le nom ou im");
	 	return;
	 }
	  $("#rechercher").prop('disabled', true);
		$(".list-group").html('<div id="spinner" class="show bg-white position-fixed translate-middle d-flex align-items-center justify-content-center"><div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">Loading...</span></div></div>');
		if(im == ""){
					 $.ajax
                    ({
                        type: "GET",
                        url: url_api + "api/get_etudiant/nom/"+nom+"/"+classeEni,
                        success: function (result) {
                            if (result.data.length > 0) {
	                            result.data.forEach(element => {
	                            	if(element.accepted == 0){
	                            		$(".list-group").append('<div class="card"><div class="card-header">Resultat recherche</div><div class="card-body"><h5 class="card-title">Numéro matricule : '+element.im+ '</h5><p class="card-text">'+element.firstname+'</p><button class="btn btn-primary btnAccepted">Accepter </button></div></div>');
	                            		$(".btnAccepted").attr('onclick', "updateAccepted('"+element.id+"')");
	                            		$(".btnAccepted").attr('id', element.id);
	                            	}else{
	                            		$(".list-group").append('<div class="card"><div class="card-header">Resultat de recherche</div><div class="card-body"><h5 class="card-title">Numéro matricule : '+element.im+ '</h5><p class="card-text">'+element.firstname+'</p><button  class="btn btn-danger" disabled>Déjà passé</button></div></div>');
	                            		$(".btnAccepted").attr('onclick', "updateAccepted('"+element.id+"')");
	                            		$(".btnAccepted").attr('id', element.id);
	                            		
	                            	}

	                             })
								 $("#nom").val('');
	                        }else{
	                        		$(".list-group").append('<div class="alert alert-warning" role="alert">Pas d\'enregistrement</div>');
	                        }
	                         $("#rechercher").prop('disabled', false);
        					$("#im").prop('disabled', false);
                        },
                        error: function (err) {
                            console.log("err ", err);
                        }
                    });
		}else{
                $.ajax
                    ({
                        type: "GET",
                        url: url_api + "api/get_etudiant/im/"+im+"/"+classeEni,
                        success: function (result) {
                            if (result.data.length > 0) {
	                            result.data.forEach(element => {
	                            	if(element.accepted == 0){
	                            		$(".list-group").append('<div class="card"><div class="card-header">Resultat recherche</div><div class="card-body"><h5 class="card-title">Numéro matricule : '+element.im+ '</h5><p class="card-text">'+element.firstname+'</p><button class="btn btn-primary btnAccepted">Accepter </button></div></div>');
	                            		$(".btnAccepted").attr('onclick', "updateAccepted('"+element.id+"')");
	                            		$(".btnAccepted").attr('id', element.id);

	                            	}else{
	                            		$(".list-group").append('<div class="card"><div class="card-header">Resultat de recherche</div><div class="card-body"><h5 class="card-title">Numéro matricule : '+element.im+ '</h5><p class="card-text">'+element.firstname+'</p><button  class="btn btn-danger" disabled>Déjà passé </button></div></div>');
	                            		$(".btnAccepted").attr('onclick', "updateAccepted('"+element.id+"')");
	                            		$(".btnAccepted").attr('id', element.id);

	                            	}
	                            	$("#im").val('');
	                             })
	                        }else{
	                        	$(".list-group").append('<div class="alert alert-warning" role="alert">Pas d\'enregistrement</div>');
	                        }
	                         $("#rechercher").prop('disabled', false);
        					$("#nom").prop('disabled', false);


                        },
                        error: function (err) {
                            console.log("err ", err);
                        }
                    });
            }
           
            
        }

        function addEtudiant() {
			let im = "34";
			let nom ="johny LIno";
            $.ajax
                ({
                    type: "POST",
                    url: url_api + "/add/etudiant",
                    data: {
						"im": im,
						"nom": nom
					},
                    success: function (result) {
                        console.log(result);
                    },
                    error: function (err) {
                        console.log("err ", err);
                    }
                });
        	}

        	function updateAccepted(idDocument){

        		 $("#"+idDocument).prop('disabled', true);
        		 $("#"+idDocument).text("Loading ...") ;
        		// alert(idDocument);
          		// document.getElementById("."+idDocument).textContent = "This is some text";
				$.ajax
                ({
                    type: "PUT",
                    url: url_api + "api/update/"+idDocument,
                    success: function (result) {
                        $("#"+idDocument).text("Confirmer") ;
        				$("#"+idDocument).prop('disabled', true);
                    },
                    error: function (err) {
                        console.log("err ", err);
                    }
                });
        	}

        	function verifInputIM(e) {
        		$("#nom").val("");
 				e.preventDefault();
        		if($("#im").val().length != 0){
        			$("#nom").prop('disabled', true);
        		}else{
        			$("#nom").prop('disabled', false);
        		}
        	}

        	function verifInputNom(e) {
        		 e.preventDefault();
        	     $("#im").val("")
        		if($("#nom").val().length != 0){
        			$("#im").prop('disabled', true);
        		}else{
        			// $("#nom").prop('disabled', false);
        			$("#im").prop('disabled', false);
        		}
        	}
</script>

</body>
</html>